body {
background:grey;
}


.flex-item {
    background: lightgrey;
    height:0px
    width:50px;
    border:2px dotted black;
}
.flex-container {
display: flex;
justify-content: space-evenly;
align-items:center;

border: .1px solid black;
height:54px;
}

/* Can change the direction back to column, but it means the MAIN AXIS switches */ 

.flex-container-col {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

border: .1px solid black;
height:100px;
}

#special {
flex-grow: 1;
}
